body{
background-image: url(Image/boci.jpg);
}
.joux{
    width: 200px;
    height: 200px;
    background-color: rgb(233, 166, 72);
    border-right: 8px solid rgb(242, 241, 241);
    border-bottom: 8px solid rgb(245, 237, 237);
    /* border-style: outset; */
  font-size: 110px; 
  color: antiquewhite;
  
  /* text-align: center; */
}
.joux:hover{
    background-color: rgb(205, 142, 18);
    cursor:pointer;
}
.Xo{
    
    background-color: rgb(167, 7, 7);
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}
.Winning-mesage{
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.9);
    display: flex;
    justify-content: center;
    display:none;
   
}
.Winning{
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.9);
    display: flex;
    justify-content: center;
    display:none;
   
}
.Winnin{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.9);
    display: flex;
    justify-content: center;
    display:none;
   

}
.title{
    padding-top: 400px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.Title{
    color: blue;
}
.Titles{
    color: blue;
    /* margin-left: 20px; */
    /* font-size: ; */
}


.btnnn{
    width: 100px;
    height: 30px;
    position:absolute;
    top:10px;
    right: 20px;
    color:white;
    background: none;
    outline:none;
    border:none;
  }
  .inputs{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 200px;
    gap: 70px; 
  }
  .information{
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  #buttons{
    padding-top: 100px;
  }
  .button1{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: rgb(233, 166, 72);
    border: none;
    margin-left: 10px;
    font-size: 50px;

  }
  
  .button2{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: rgb(233, 166, 72);
    border: none;
    margin-left: 70px;
    font-size: 50px;
   }
  
  .Image{
    width: 80px;
    padding-top: 30px;
  }
  .Image_{
    width: 80px;
    padding-top: 30px;
    margin-left: 200px;
  }
  .econs{
    width: 55px;
  }
  .titls{
    font-size: 50px;
  background: -webkit-linear-gradient(#eee, rgb(199, 6, 6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .paragraph{
    font-size: 80px;
    color: rgb(8, 8, 8);
    
  }
  
  
/* .WinnME{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29, 29, 29, 0.9);
    display: flex;
    justify-content: center;
    display:none; 
} */
/* .titl{
    padding-top: 400px;
    font-size: 50px;
} */
